// 
// 
// footers.scss
//
//

footer {
    padding: 2rem 0;
}

@include media-breakpoint-up(md) {
    footer {
        padding: 3rem 0;
    }
}

@include media-breakpoint-up(lg) {
    footer {
        padding: 3.5rem 0;
    }
}

@include media-breakpoint-up(md){
    .footer-1{
        hr{
            margin-top: $spacer*3;
        }
    }
}